@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

:root{
  --text-color: rgb(50, 50, 50);
  --text-highlight: rgb(0, 200, 120);
}
html{
  min-width: fit-content;
}
body{
  font-family: 'PT Sans', sans-serif;
}
a:link{
  text-decoration: none;
  color: var(--text-color);
  transition: ease-in-out 0.4s;
}
a:visited{
  color: var(--text-color);
}
a:hover{
  color: var(--text-highlight);
}
#calculatorContainer{
  width: 600px;
  border: 2px solid black;
}
#operation{
  text-align: end;
  font-size: 28px;
  height: 35px;
}
#result{
  text-align: end;
  font-size: 28px;
  height: 35px;
}

#calculator{
  display: grid;
  grid-template-columns: repeat(4, 30px);
}
.btn{
  font-size: 20px;
  width: 30px;
  height: 30px;
}